<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/assets/img/burger.png" alt="" width="72" height="72">

    <h2>Eat-Da-Burger!</h2>

  </div>

  <h2>Burgers!</h2>

  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devour=true}}
    {{/unless}}
    {{/each}}
  </ul>

  <h2>Devoured Burgers!</h2>

  <ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/devour-block devour=false}}
    {{/unless}}
    {{/each}}
  </ul>

  <h2>Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      <label for="burger">Burger Name</label>
      <input type="text" id="burger" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
  </form>